#contact {
    color: #222;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .icon {
    margin-right: 15px;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
  }
  
  .icon.instagram:hover {
    color: #E1306C;
  }
  
  .icon.facebook:hover {
    color: #4267B2;
  }
  